matplotlib
numpy
openssl
pandas
pandas-datareader
patsy
pyparsing
pyqt
python
python-dateutil
pytz
qt
requests
setuptools
sip
six
statsmodels
certifi
chardet
idna
inflection
more-itertools
quandl
urllib3